

.jobs_list{
    display: grid;
    grid-template-rows: auto;
    gap: 30px;
    /* background-color: rgba(0, 0, 255); */
    border-radius: 10px;
    padding: 10px;
    font-family:"Arial";
}

.single_entry{
   background-color:rgb(128,128,128);
   border-radius: 10px;
   font-family:"Arial";
}

.button{
  background-color: #5C5A5A;
  color: #ffffff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  font-family:"Arial";
}


.input_boxes{
    display: grid;
    grid-template-rows: auto;
    /* background-color: rgba(0, 0, 255); */
    border-radius: 10px;
    padding: 10px;
    font-family:"Arial";
}

.dark-matter {
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
	padding: 20px 30px 20px 30px;
	color: #D3D3D3;
	text-shadow: 1px 1px 1px #444;
	border: none;
	border-radius: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: 24px;
	font-family:"Arial";
}


.dark-matter-search {
	margin-left: auto;
	margin-right: auto;
	background: #555;
	padding: 20px 30px 20px 30px;
	font-family:"Arial";
	color: #D3D3D3;
	text-shadow: 1px 1px 1px #444;
	border: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

h1 {
	color:#5C5A5A;
	font-family:"Arial";
}

label{
	color:#5C5A5A;
	font-size: 24px;
}

button:hover{
    background-color: #009999;
}

div{
    font-family:"Arial";
}

form {
    display: inline-block;
}

body {
    text-align: center;
}